In [1]:
import pandas as pd
df=pd.read_csv("melbourne_house_price.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [139]:
df2=pd.read_csv("melbourne_house_price.csv")

# Q1

In [2]:

df.shape

(23678, 21)

# Q2

In [3]:

df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [4]:
df.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4612
Bathroom          4615
Car               4757
Landsize          6268
BuildingArea     13660
YearBuilt        12138
CouncilArea       8022
Lattitude         4435
Longtitude        4435
Regionname         132
Propertycount      132
dtype: int64

In [6]:
df.isnull().any(axis = 1).sum()

17482

In [7]:
null_data = df[df.isnull().any(axis=1)]
null_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra,-37.79650,144.99650,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23673,Wyndham Vale,25 Clitheroe Dr,3.0,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23674,Wyndham Vale,19 Dalrymple Bvd,4.0,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23675,Yallambie,17 Amaroo Wy,4.0,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23676,Yarraville,6 Agnes St,4.0,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23677,Yarraville,33 Freeman St,4.0,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [ ]:
#toggled the output for rows because it's a long list

# Q3

In [145]:
#for i in range(len(df2.index)) :
    #print("Nan in row ", i , " : " ,  df2.iloc[i].isnull().sum())
    #long list
#Nan in row  0  :  3
#Nan in row  1  :  2
#Nan in row  2  :  0
#Nan in row  3  :  3
#Nan in row  4  :  0
#Nan in row  5  :  2
#Nan in row  6  :  0
#Nan in row  7  :  1
#Nan in row  8  :  2
#Nan in row  9  :  2
#Nan in row  10  :  2
#Nan in row  11  :  0
#Nan in row  12  :  1
#Nan in row  13  :  1
#Nan in row  14  :  0
#Nan in row  15  :  9
#Nan in row  16  :  9
#Nan in row  17  :  2
#Nan in row  18  :  0
#Nan in row  19  :  9
#Nan in row  20  :  1
    #and so on

In [ ]:
pd.isnull(df).all(axis=1)

# Q4

In [9]:
null_rows=df.isnull().all(axis = 1).sum()
null_rows

131

In [11]:
percent_missing_row = df.isnull().all(axis=1).sum() * 100 / len(df)
percent_missing_row

0.5532561871779711

In [12]:
df.dropna(axis='rows',how="all",inplace=True)

In [13]:
null_rows=df.isnull().all(axis = 1).sum()
null_rows
#now no empty rows are present

0

In [49]:
df.shape

(23547, 21)

# Q5 & Q6

In [16]:
percent_missing_columns = df.isnull().sum() * 100 / len(df)
percent_missing_columns

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.875398
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.004247
Postcode          0.004247
Bedroom2         19.030025
Bathroom         19.042766
Car              19.645815
Landsize         26.062768
BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Lattitude        18.278337
Longtitude       18.278337
Regionname        0.004247
Propertycount     0.004247
dtype: float64

In [32]:
def nans(df): return df[df.isnull().any(axis=1).sum() * 100 / len(df)]

In [38]:
print([df.iloc[i].isnull().sum() *100 / len(df)])

[0.012740476493820868]

In [40]:
df2=df.apply(lambda x: x.count(), axis=1)
df2

0        18
1        19
2        21
3        18
4        21
         ..
23673    19
23674    13
23675    17
23676    20
23677    19
Length: 23547, dtype: int64

In [149]:
#row=df2.values.tolist()

# Q7 AND Q8

In [147]:
##for i in row: 
    #print(i*100/len(df)) 
#0.09440889541592364
#0.09965383405014161
#0.11014371131857757
#0.09440889541592364
#0.11014371131857757
#0.09965383405014161
#0.11014371131857757
#0.1048987726843596
#0.09965383405014161
#0.09965383405014161
    #and so on

# Q9

In [ ]:
#BuildingArea     57.455302
#YearBuilt        50.991634  (more than 30 percent null values)

In [52]:
df.drop(['BuildingArea','YearBuilt'],inplace=True,axis=1)

In [53]:
df.shape

(23547, 19)

In [74]:

d = df.loc[:, df.isnull().sum(axis = 0)>5]

In [75]:
d.count()

Price          18396
Bedroom2       19066
Bathroom       19063
Car            18921
Landsize       17410
CouncilArea    15656
Lattitude      19243
Longtitude     19243
dtype: int64

In [76]:
d.count()*100/len(df)

Price          78.124602
Bedroom2       80.969975
Bathroom       80.957234
Car            80.354185
Landsize       73.937232
CouncilArea    66.488300
Lattitude      81.721663
Longtitude     81.721663
dtype: float64

In [150]:
##for i in range(len(df.index)) :
    #print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum()>5)

# Q10

In [101]:
r=sum(df.apply(lambda x: sum(x.isnull().values), axis = 1)>5)

In [104]:
r

4321

In [105]:
4321/len(df) #PERCENTAGE LESS THAN 20

0.18350532976599992

In [106]:
df = df[df.isnull().sum(axis=1) < 5]

In [107]:
df.shape

(19066, 19)

# Q11

In [108]:

df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
count,19066.000000,1.492700e+04,19066.000000,19066.000000,19066.000000,19063.000000,18921.000000,17409.000000,19040.000000,19040.000000,19066.000000
mean,2.975034,1.067220e+06,10.221997,3109.777038,2.951956,1.570897,1.626235,551.807801,-37.812198,145.000458,7474.418703
std,0.972373,6.383412e+05,6.056356,93.794831,0.996032,0.712684,0.974048,3544.388357,0.079995,0.106106,4312.480983
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.410000e+05,6.100000,3048.000000,2.000000,1.000000,1.000000,181.000000,-37.859003,144.938918,4442.000000
50%,3.000000,9.000000e+05,9.200000,3101.000000,3.000000,1.000000,2.000000,448.000000,-37.809300,145.004615,6567.000000
75%,4.000000,1.320000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,-37.759500,145.063508,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,30.000000,12.000000,26.000000,433014.000000,-37.407580,145.526350,21650.000000

In [109]:
df.info

<bound method DataFrame.info of              Suburb             Address  Rooms Type      Price Method  \
0        Abbotsford       68 Studley St    2.0    h        NaN     SS
1        Abbotsford        85 Turner St    2.0    h  1480000.0      S
2        Abbotsford     25 Bloomburg St    2.0    h  1035000.0      S
3        Abbotsford  18/659 Victoria St    3.0    u        NaN     VB
4        Abbotsford        5 Charles St    3.0    h  1465000.0     SP
...             ...                 ...    ...  ...        ...    ...
23672  Williamstown        96 Verdon St    4.0    h  2500000.0     PI
23673  Wyndham Vale     25 Clitheroe Dr    3.0    u        NaN     PN
23675     Yallambie        17 Amaroo Wy    4.0    h  1100000.0      S
23676    Yarraville          6 Agnes St    4.0    h  1285000.0     SP
23677    Yarraville       33 Freeman St    4.0    h  1050000.0     VB

          SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  \
0          Jellis  03-09-2016       2.5    3067.0       2.0       1.0  1.0
1          Biggin  03-12-2016       2.5    3067.0       2.0       1.0  1.0
2          Biggin  04-02-2016       2.5    3067.0       2.0       1.0  0.0
3          Rounds  04-02-2016       2.5    3067.0       3.0       2.0  1.0
4          Biggin  04-03-2017       2.5    3067.0       3.0       2.0  0.0
...           ...         ...       ...       ...       ...       ...  ...
23672     Sweeney  26-08-2017       6.8    3016.0       4.0       1.0  5.0
23673   Harcourts  26-08-2017      27.2    3024.0       3.0       1.0  0.0
23675  Buckingham  26-08-2017      12.7    3085.0       4.0       3.0  2.0
23676     Village  26-08-2017       6.3    3013.0       4.0       1.0  1.0
23677     Village  26-08-2017       6.3    3013.0       4.0       2.0  2.0

       Landsize CouncilArea  Lattitude  Longtitude             Regionname  \
0         126.0       Yarra  -37.80140   144.99580  Northern Metropolitan
1         202.0       Yarra  -37.79960   144.99840  Northern Metropolitan
2         156.0       Yarra  -37.80790   144.99340  Northern Metropolitan
3           0.0       Yarra  -37.81140   145.01160  Northern Metropolitan
4         134.0       Yarra  -37.80930   144.99440  Northern Metropolitan
...         ...         ...        ...         ...                    ...
23672     866.0         NaN  -37.85908   144.89299   Western Metropolitan
23673     552.0         NaN  -37.90032   144.61839   Western Metropolitan
23675       NaN         NaN  -37.72006   145.10547  Northern Metropolitan
23676     362.0         NaN  -37.81188   144.88449   Western Metropolitan
23677       NaN         NaN  -37.81829   144.87404   Western Metropolitan

       Propertycount
0             4019.0
1             4019.0
2             4019.0
3             4019.0
4             4019.0
...              ...
23672         6380.0
23673         5262.0
23675         1369.0
23676         6543.0
23677         6543.0

[19066 rows x 19 columns]>

In [110]:
percent_missing_columns = df.isnull().sum() * 100 / len(df)
percent_missing_columns

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.708801
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.000000
Postcode          0.000000
Bedroom2          0.000000
Bathroom          0.015735
Car               0.760516
Landsize          8.690863
CouncilArea      17.885241
Lattitude         0.136368
Longtitude        0.136368
Regionname        0.000000
Propertycount     0.000000
dtype: float64

# Q12

In [111]:
#now we have only two columns left with missing values Price and council area
#for price null values will be filled with mean
df['Price'].fillna((df['Price'].mean()), inplace=True)

# Q13

In [118]:
df['Landsize'].fillna((df['Landsize'].mean()), inplace=True)
df['Longtitude'].fillna((df['Longtitude'].mean()), inplace=True)
df['Lattitude'].fillna((df['Lattitude'].mean()), inplace=True)
df['Car'].fillna((df['Car'].mean()), inplace=True)
df['Bathroom'].fillna((df['Bathroom'].mean()), inplace=True)

In [133]:
#for council area null values will be filled with mode

mode = df['CouncilArea'].mode().values[0]
df['CouncilArea'].fillna(value=mode, inplace=True)

In [136]:
df.shape

(19066, 19)

In [134]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

# Q14 AND Q15

In [138]:
#now 19066 rows and 19 columns
print(4481*100/len(df))
print(2*100/len(df))

#2columns removed(0.010)
#4481 rows removed(23.5)
#yes the data removed is justified because  now we have a cleaned dataframe with no null values present

23.50257001993077
0.010489877268435959